@import "flowbite/src/themes/default";
@import "tailwindcss";

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.branding-text {
  color: #ff5733; /* Replace with your desired color code */
}

#add {
  scroll-margin-top: 0;
}
