@import "tailwindcss";

body {
  font-family: sans-serif;
}

.branding-text {
  color: #ff5733; /* Replace with your desired color code */
}

.truncate-multi {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
